@font-face {
  font-family: "CaptureIt";
  src: url("../fonts/CaptureIt.ttf");
}

/******BASE STYLES******/
html,
body {
  height: 100%;
}

body {
  color: #fff;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.container {
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2em;
}

/********HEADER********/
.pageHeader .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageHeader {
  padding: 2em 0;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mainNav li {
  display: inline;
  margin-left: 70px;
}

.mainNav li a {
  text-transform: uppercase;
  color: #fff;
}

/********BANNER********/
.banner {
  height: 800px;
  background: url(../img/banner.png)no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-block h1 {
  font-family: "CaptureIt", Arial, sans-serif;
  font-size: 5.5rem;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}

.sub-title {
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: 1.5em;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.learn-more {
  background: #ca0500;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 2em;
  border: 1px solid transparent;
  transition: .3s;
}

.learn-more:hover {
  background: #8d0300;
  border: 1px solid #ca0500;
}

/********ARTICLES********/
.articles {
  padding: 4em 0;
  background: #ffffff;
  background: -moz-linear-gradient(-5deg, #ffffff 0%, #ffffff 50%, #ffffff 50%, #ffffff 50%, #1b1b1b 50%, #1b1b1b 100%);
  background: -webkit-linear-gradient(-5deg, #ffffff 0%, #ffffff 50%, #ffffff 50%, #ffffff 50%, #1b1b1b 50%, #1b1b1b 100%);
  background: linear-gradient(95deg, #ffffff 0%, #ffffff 50%, #ffffff 50%, #ffffff 50%, #1b1b1b 50%, #1b1b1b 100%);
}

.articles .container {
  display: flex;
}

article {
  width: 50%;
}

article:first-of-type {
  padding-right: 5em;
  color: #000;
}

article:last-of-type {
  padding-left: 5em;
}

h2 {
  font-size: 2.25rem;
  font-weight: 300;
}

h2::after {
  /* kind of hacky! Not sure I like this! */
  content: ".";
  font-size: 0;
  display: block;
  height: 1px;
  width: 38px;
  background: #ca0500;
  margin-top: 20px;
}

.quote {
  font-size: 1.375rem;
  font-style: italic;
  font-weight: 300;
  line-height: 1.2;
  margin: 1em 0;
}

.text {
  font-weight: 300;
}

.mb {
  margin-bottom: 1em;
}


/******Media Queries******/
@media(max-width: 768px) {
  .pageHeader .container {
    flex-direction: column;
  }

  .mainNav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1em;
  }

  .mainNav li {
    margin: .75em 0;
  }

  .banner-block {
    margin-top: 15em;
  }

  .banner-block h1 {
    font-size: 4rem;
  }

  .articles {
    background: #ffffff;
    text-align: center;
    padding: 2em 0;
  }

  article {
    width: 100%;
  }

  .articles .container {
    flex-direction: column;
  }

  article:first-of-type {
    padding-right: 0;
    color: #000;
  }

  article:last-of-type {
    padding-left: 0;
    color: #000;
    margin-top: 2em;
  }

  h2::after {
    /* kind of hacky! Not sure I like this! */
    content: ".";
    font-size: 0;
    display: block;
    height: 1px;
    width: 80%;
    background: #ca0500;
    margin: 20px auto 0 auto;
  }
}